.station {
    display: flex;
    border-top: 2px solid black;
}

.stationRadio {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.stationRadio:checked ~ label {
    transition: background-color 1.5s ease;
    background-color: #00ad2b;
}

.stationRadio:not(checked) ~ label {
    transition: background-color 1.5s ease;
    background-color: #c2d1cd;
}

.stationLabel {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: calc(1px + 1vmin);
}

.stationName {
    display: flex;
    font-weight: bold;
    font-size: calc(16px + 2vmin);
    text-align: center;
}

.stationDescription {
    display: flex;
    font-size: calc(5px + 2vmin);
    text-align: center;
}