select,
option {
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: calc(2px + 1vmin);
}

select {
  background-color: transparent;
}
