.header,
.footer {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  background: rgba(0, 0, 0, 0);
  width: 100%;
}

.header {
  top: 0;
  margin-bottom: calc(1px + 2vmin);
}

.footer {
  bottom: 0;
}

.spectrum {
  position: absolute;
  position: fixed;
  z-index: -5;
  height: 100%;
}
